services:
  - type: web
    name: arcmind-backend
    env: python
    rootDir: Backend  # এই লাইনটা বলে দিচ্ছে যে অ্যাপ Backend ফোল্ডারে আছে
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: PORT
        value: 8000
    plan: free
    
